@font-face{
    font-family: '思源';
    src: url('../fonts/SourceHanSansCN-Light.otf')
}

*{
    font-family: '微软雅黑';
}

#app{
    overflow-y: auto;
}

.load{
    width: 50px;
    display: block;
    animation: 2s loading infinite linear;
    margin: 0 auto;
}

.chapters a:visited{
    color: black !important;
}

@keyframes loading{
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}

.fade-enter-active, .fade-leave-active{
    transition: all 1s;
}

.fade-enter{
    transform: translateY(20px);
    opacity: 0;
}
.fade-leave-to{
    display: none;
}

.w-20{
    width: 20%;
}

.chapter{
    font-size: 20px;
}

.chapterPage{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

img{
    width: 100%;
}

@media (max-width: 375px){
    .history td{
        font-size: 12px;
    }
}

.cbx {
-webkit-user-select: none;
user-select: none;
cursor: pointer;
padding: 6px 8px;
border-radius: 6px;
overflow: hidden;
transition: all 0.2s ease;
}
.cbx:not(:last-child) {
margin-right: 6px;
}
.cbx:hover {
background: rgba(125,100,247,0.06);
}
.cbx span {
float: left;
vertical-align: middle;
transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
position: relative;
width: 18px;
height: 18px;
border-radius: 4px;
transform: scale(1);
border: 2px solid #c8ccd4;
transition: all 0.2s ease;
}
.cbx span:first-child svg {
position: absolute;
top: 2px;
left: 1px;
fill: none;
stroke: #fff;
stroke-width: 2;
stroke-linecap: round;
stroke-linejoin: round;
stroke-dasharray: 16px;
stroke-dashoffset: 16px;
transition: all 0.3s ease;
transition-delay: 0.1s;
transform: translate3d(0, 0, 0);
}
.cbx span:last-child {
padding-left: 8px;
line-height: 18px;
}
.cbx:hover span:first-child {
border-color: #409EFF;
}
.inp-cbx:checked + .cbx span:first-child {
background: #409EFF;
border-color: #409EFF;
animation: wave 0.4s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
stroke-dashoffset: 0;
}

@-moz-keyframes wave {
50% {
    transform: scale(0.9);
}
}
@-webkit-keyframes wave {
50% {
    transform: scale(0.9);
}
}
@-o-keyframes wave {
50% {
    transform: scale(0.9);
}
}
@keyframes wave {
50% {
    transform: scale(0.9);
}
}
  
.inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

@media screen and (max-width: 600px){
    .hidden{
        display: none;
    }
}

.menu-btn{
    position: fixed;
    right: 10px;
    top: 60px;
    width: 50px;
    color: #757575;
    cursor: pointer;
}

.screen{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.15);
}

.bar{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 100;
}
.bar .content{
    position: absolute;
    height: 100%;
    width: 340px;
    background: white;
    left: 0;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 20px;
    overflow-y: auto;
    animation: right .5s;
}

.bar ol{
    padding-left: 40px;
}
.bar li{
    margin-bottom: 10px;
    padding-left: 0;
}

.top{
    position: fixed;
    left: 30px;
    bottom: 20px;
    background: white;
    border: 1px solid #dedede;
    padding: 10px 15px;
    cursor: pointer;
    display: none;
}
.hiddenBar{
    position: fixed;
    right: 20px;
    top: 20px;
}
.top:hover{
    filter: brightness(.9);
}

@keyframes right{
    0%{transform: translateX(-340px);}
    100%{transform: translateX(0px);}
}

.set-item{
    margin-bottom: 10px;
}
.set-item div{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.color-item{
    width: 50px;
    height: 50px;
    background: #515151;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
.color-item:hover{
    filter: brightness(.9);
}

.testFamily{
    visibility: hidden;
    position: fixed;
    left: 1000000px;
}

.rangeMain {
    background-size: 98% 3px;
    margin: auto;
    width: 80%;
    background: linear-gradient(to right, #ccc 0%, #ccc 100%);
    outline: none;
    -webkit-appearance: none; /*清除系统默认样式*/
    height: 3px; /*横条的高度*/
   }
input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3),
  0 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-appearance: none;
  border: 0;
}

.chapter .content{
    word-wrap: break-word;
}

.word-wrap{
    word-wrap: break-word;
}

footer{
    /* padding-bottom: 70px; */
}

.bottomBar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border: 1px solid #dedede;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    display: none;
}
.bottomBar .items{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.f-m{
    font-size: 14px;
    margin-bottom: 0;
    display: none;
}

.imgScreen{
    width: 100%;
    height: 160px;
    background: rgb(180, 180, 180);
    color: white;
    text-align: center;
    line-height: 160px;
}
.bookshelf .images{
    width: 110px;
    height: 160px;
    overflow: hidden;
}
.bookshelf figcaption{
    margin-top: 10px;
    text-align: center;
}
.bookshelf .item{
    margin-top: 15px;
    cursor: pointer;
    transition: .4s;
}
.bookshelf .item:hover{
    filter: brightness(.9);
}
.bookshelf h5{
    font-size: 16px;
}

.bookshelf figure{
    position: relative;
}

.ckbx-square-4{
    position: absolute;
    right: 5px;
    top: 10px;
}

.manage-top{
    height: 40px;
}

.overflowHidden{
    overflow-y: hidden;
}

.font-items .item{
    padding: 10px 20px;
    transition: .3s;
    cursor: pointer;
}
.font-items .item:hover{
    filter: brightness(.8);
}

.chapterBottom{
    animation: .5s top;
}

@keyframes top{
    0%{transform: translateY(60px);}
    100%{transform: translateY(0);}
}

.addBookshelf{
    position: fixed;
    bottom: 80px;
    right: 20px;
    /* display: none; */
}

header .item{
    display: inline-block;
}

.paging{
    height: 90vh;
    overflow: hidden;
}
.paging .wrapper{
    height: 100%;
    columns: calc(100vw - 32px) 1;
    column-gap: 16px;
    overflow: visible;
    transform: translateX(0);
}

.paging-info{
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.links{
    position: relative;
}