<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lionet - 在线转码小说</title>
    <link rel="stylesheet" href="./style/bootstrap.css">
    <link rel="stylesheet" href="./style/style.css">
    <script src="./js/vue.js"></script>
    <script src="./js/axios.js"></script>
    <script src="./js/socket.io.js"></script>
    <script src="./js/config.js"></script>
    <script src="./js/tool.js"></script>
</head>

<body>
    <div id="app">
        <div class="container mt-4">
            <div class="mb-3">
                <a href="/index.html">回到首页</a>
            </div>

            <div class="alert alert-danger" v-if="errors.length">
                <ul class="mb-0">
                    <li v-for="item in errors">
                        <b>{{ item }}</b>
                    </li>
                </ul>
            </div>

            <div class="alert alert-info" v-if="infos.length">
                <ul class="mb-0">
                    <li v-for="item in infos">
                        <b>{{ item }}</b>
                    </li>
                </ul>
            </div>

            <div class="info mt-4" v-if="data.list">
                <h1>{{ data.title }}</h1>
                <b>{{ data.author }}</b>
                <div class="row mt-3">
                    <div v-if="data.imageUrl" class="col-2">
                        <img :src="data.imageUrl" alt="bookImage">
                    </div>
                    <div class="col-10" :class="{'col-12': !data.imageUrl}">
                        <div class="description jumbotron" v-html="data.description"></div>
                    </div>
                </div>

                <div class="chapters mt-3">
                    <p v-if="data.list">共有 {{ data.list.length }} 章</p>
                    <p>最新章节: {{ data.newChapter }}</p>
                    <p>更新时间: {{ data.updated }}</p>
    
                    <div class="row">
                        <div class="col-4 mt-3" v-for="item in data.list">
                            <a href="javascript:void(0)" @click="getChapter(item.href)" class="text-secondary">{{ item.title }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="mt-4">
            <div class="container">
                <p>仅供学习使用, 被动型爬虫程序, 在线页面: <span>{{ personNumber }}</span></p>
                <p>Copyright &copy; 2019 lionet. All Rights Reserved.</p>
            </div>
        </footer>
    </div>

    <script src="./js/info.js"></script>
</body>

</html>